@import url(../reindeer/legacy-styles.css);

.palaver-header {
	background: #ffffff url('img/header_links.jpg') no-repeat left top;
}

.palaver-header:HOVER {
	cursor: pointer;
	background: #ffffff url('img/header_links_over.jpg') no-repeat left top;
}

.v-app {
	background: #f0fff0;
}

.v-window-contents {
	background: #f0fff0;
}

.v-button,
.v-button:FOCUS,
.v-button:HOVER,
.v-button:ACTIVE,
.v-button.v-pressed,
.v-disabled.v-button {
	height: 26px;
	padding: 0 0 0 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	cursor: default;
}

.v-button-wrap,
.v-button:FOCUS .v-button-wrap,
.v-button:HOVER .v-button-wrap,
.v-button:ACTIVE .v-button-wrap,
.v-button.v-pressed .v-button-wrap,
.v-disabled.v-button .v-button-wrap {
	display: block;
    height: 26px;
    padding: 4px 20px 0px 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right top;
}


.v-button {
	background-image: url(img/button/left.png);
}

.v-button-wrap {
    background-image: url(img/button/right.png);
}

.v-button-caption {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.v-button:FOCUS,
.v-button:HOVER {
    background-image: url(img/button/left-focus.png);
    outline: none;
}

.v-button:FOCUS .v-button-wrap,
.v-button:HOVER .v-button-wrap {
    background-image: url(img/button/right-focus.png);
    outline: none;
}

.v-button:ACTIVE,
.v-button.v-pressed {
    background-image: url(img/button/left-pressed.png);
    outline: none;
}

.v-button:ACTIVE .v-button-wrap,
.v-button.v-pressed .v-button-wrap {
    background-image: url(img/button/right-pressed.png);
    outline: none;
}

.dialog-window .v-window-outerheader {
	padding: 12px 32px 0 14px;
    height: 0px;
    background: transparent repeat-x;
    background-image: none;
}

.dialog-window .v-window-contents {
	background: #eeeeee;
}

.palaver-login {
	background: transparent url('img/login_form.png') no-repeat left top;
}

.v-stepper {
	position: relative;
}

.v-stepper .v-stepper-updown {
	position: absolute;
	top: 2px;
	right: 1px;
	margin: 0 1px;
}

.v-stepper .v-stepper-up,
.v-stepper .v-stepper-down {
	padding: 0px 1px;
	margin: 0;
	width: 16px;
	height: 10px;
	display: block;
	outline: none;
}

.stepper-palaver .v-stepper .v-stepper-up {
	background: transparent url("img/stepper_arrow_up.png") no-repeat center center;
	padding-top: 2px;
}

.stepper-palaver .v-stepper .v-stepper-down {
	background: transparent url("img/stepper_arrow_down.png") no-repeat center center;
}

.v-ie7 .v-stepper .v-stepper-updown {
	margin-top: 2px;
}

.v-ie7 .v-stepper .v-stepper-up,
.v-ie7 .v-stepper .v-stepper-down {
	line-height: 8px;
	height: 8px;
}

.v-ie8 .v-stepper .v-stepper-updown {
	top: 1px;
}

.v-caption-palaverTable .v-captiontext {
	font-size: 18px;
	padding-bottom: 10px;
}


.menueplan-grid {
 margin: 0px;
padding: 0px;
border-left: 1px solid rgb(50,205,50);
border-bottom: 1px solid rgb(50,205,50);
}

.menueplan-grid > div {
margin: 0px;
padding: 0px;
border-right: 1px solid rgb(50,205,50);
border-top: 1px solid rgb(50,205,50);

}

.menueplan-add .v-icon{
display: block;
margin-left: auto;
margin-right: auto;
height: 65%;
width: 65%;
}

.menueplan-nextweek .v-icon{
display: block;
margin-left: 300px;
height: 30px;
}

.menueplan-lastweek .v-icon{
display: block;
margin-right: 300px;
height: 30px;
}

.v-button.v-button-link,
.v-button.v-button-link:focus,
.v-button.v-button-link:active,
.v-button-link.v-pressed,
.v-disabled.v-button.v-button-link,
.v-button.v-button-link .v-button-wrap,
.v-button.v-button-link:focus .v-button-wrap,
.v-button.v-button-link:active .v-button-wrap,
.v-button-link.v-pressed .v-button-wrap,
.v-disabled.v-button.v-button-link .v-button-wrap {
        background: transparent;
        height: auto;
        padding: 0;
        cursor: pointer;
        line-height: inherit;
        }

.v-button.v-button-link.v-disabled,
.v-button.v-button-link.v-disabled .v-button-wrap {
        cursor: default;
        }
        
.v-button-link .v-button-caption,
.v-nativebutton-link .v-nativebutton-caption {
        line-height: inherit;
        font-weight: normal;
        color: #1b699f;
        font-size: 12px;
        text-shadow: none;
        }
        
.v-button-link:focus .v-button-caption,
.v-nativebutton-link:focus .v-nativebutton-caption {
        outline: 1px dotted #1b699f;
        }
        
.ViewHeadline {
	font-size: 18px;
	padding-bottom: 10px;
}

.v-table-cell-content-check {
	background-image:url('img/tick_circle.ico');
	background-position:center center;
	background-repeat: no-repeat;
	font-size: 0px;
}

.v-table-cell-content-cross {
	background-image:url('img/cross_circle.ico');
	background-position:center center;
	background-repeat: no-repeat;
	font-size: 0px;
}