@import url(../reindeer/legacy-styles.css);

.palaver-header {
	background: #ffffff url('img/header_links.jpg') no-repeat left top;
}

.v-window-contents {
	background: #eeeeee;
}

.v-button,
.v-button:FOCUS,
.v-button:HOVER,
.v-button:ACTIVE,
.v-button.v-pressed {
	height: 26px;
	padding: 0 0 0 20px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	cursor: default;
}

.v-button-wrap,
.v-button:FOCUS .v-button-wrap,
.v-button:HOVER .v-button-wrap,
.v-button:ACTIVE .v-button-wrap,
.v-button.v-pressed .v-button-wrap {
	display: block;
    height: 26px;
    padding: 4px 20px 0px 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right top;
}


.v-button {
	background-image: url(img/button/left.png);
}

.v-button-wrap {
    background-image: url(img/button/right.png);
}

.v-button-caption {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.v-button:FOCUS,
.v-button:HOVER {
    background-image: url(img/button/left-focus.png);
    outline: none;
}

.v-button:FOCUS .v-button-wrap,
.v-button:HOVER .v-button-wrap {
    background-image: url(img/button/right-focus.png);
    outline: none;
}

.v-button:ACTIVE,
.v-button.v-pressed {
    background-image: url(img/button/left-pressed.png);
    outline: none;
}

.v-button:ACTIVE .v-button-wrap,
.v-button.v-pressed .v-button-wrap {
    background-image: url(img/button/right-pressed.png);
    outline: none;
}

.dialog-window .v-window-outerheader {
	padding: 12px 32px 0 14px;
    height: 0px;
    background: transparent repeat-x;
    background-image: none;
}

.dialog-window .v-window-contents {
	background: #eeeeee;
}