@import url(../reindeer/legacy-styles.css);

.palaver-header {
background: #ffffff url('img/Header.jpg') no-repeat left top;
}

.v-app {
background: #F0FFF0;
}

.menueplan-grid {
 margin: 0px;
padding: 0px;
border-left: 1px solid black;
border-bottom: 1px solid black;
 
}

.menueplan-grid > div {
margin: 0px;
padding: 0px;
border-right: 1px solid black;
border-top: 1px solid black;

}
