@import url(../reindeer/legacy-styles.css);

.palaver-header {
background: #ffffff url('img/Header.jpg') no-repeat left top;
}

.v-app {
background: #F0FFF0;
}

.menueplan-grid {
 margin: 0px;
padding: 0px;
border-left: 1px solid rgb(50,205,50);
border-bottom: 1px solid rgb(50,205,50);
 
}

/* .v-table-row-odd {
        background: #F0FFF0;
}

.v-table-header {
	background: #F0FFF0;
}
 */
/* .v-window-contents {
	background: #F0FFF0;
} */

.menueplan-grid > div {
margin: 0px;
padding: 0px;
border-right: 1px solid rgb(50,205,50);
border-top: 1px solid rgb(50,205,50);

}

.menueplan-add .v-icon{
display: block;
margin-left: auto;
margin-right: auto;
height: 65%;
width: 65%;
}

.menueplan-nextweek .v-icon{
display: block;
margin-left: 90%;
height: 50px;
}

.menueplan-lastweek .v-icon{
display: block;
margin-right: 90%;
height: 50px;
}

